{{define "posts"}}
	{{range .Posts}} 
		<div class="max-w-screen-md">
		<header class="py-3.5 text-3xl font-semibold">{{.Title}}</header>
			<div class="text-base/7 p-1">
				{{.Content}}
			</div>
		</div>
	{{end}}
{{end}}
